node_modules
.env
coverage
coverage.json
typechain
typechain-types

#Hardhat files
cache
artifacts

*.DS_Store

# zipped files containing historic of all pixels transactions
#pixelWarData/data
pixelWarData/arguments.csv

NFTixData/data


# some generated Data
concatenated.yaml
test.yaml
rescopy.yaml
